.container {
  width: 90%;
  margin: 30px auto;
  background-color: #ddd;
  
  display: grid;
/* Using min-content and max-content */
/*  grid-template-columns: max-content 1fr 1fr min-content;*/
/*  grid-template-rows: repeat(1, min-content);*/
  
/* Using minmax function */
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: minmax(200px, 1fr) repeat(3, minmax(20%, 50%));

}

.item {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  background-color: darkgreen;
}

.item--1 {
  background-color: darkgreen;
}
.item--2 {
  background-color: yellowgreen;
}
.item--3 {
  background-color: blueviolet;
}
.item--4 {
  background-color: palevioletred;
}
.item--5 {
  background-color: royalblue;
}
.item--6 {
  background-color: goldenrod;
}
.item--7 {
  background-color: crimson;
}
.item--8 {
  background-color: darkslategray;
}